
recursive-include mapping *
recursive-include FF      *
recursive-exclude FF/martini3.0.0 *
recursive-exclude FF/amber14      *
recursive-exclude FF/amber99      *

recursive-include docs    *
recursive-exclude docs/build *

recursive-include examples/Backmapping *
recursive-exclude examples/Backmapping/Example6_TRIO/workdir_setup *

include lib-python/mstool/lib/*.pyx
include requirements.txt

global-exclude *.afdesign
global-exclude *.so

